/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.phpstorm.meta.php
.env
.env.backup
.env.prod
.env.production
.env.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.code-workspace
_ide_helper.php
_ide_helper_models.php
